In [1]:
primes = [2,3,5,7,11]
print(type(primes))

<class 'list'>

In [2]:
primes = (2,3,5,7,11)
print(type(primes))

<class 'tuple'>

In [3]:
print(primes[0])
print(primes[1])
print(primes[-1])
print(primes[-2])

2
3
11
7

In [4]:
print(primes[::2])

(2, 5, 11)

In [5]:
primes_list = [2,3,5,7,11]
primes_list[-1] = 13
print(primes_list)

[2, 3, 5, 7, 13]

In [6]:
print(len(primes_list))

5

In [7]:
primes_list.insert(-1,11)
print(primes_list)

[2, 3, 5, 7, 11, 13]

In [8]:
primes_list.pop()
print(primes_list)

[2, 3, 5, 7, 11]

In [9]:
print(primes)
print(type(primes))

(2, 3, 5, 7, 11)
<class 'tuple'>

In [10]:
primes[-1] = 13

TypeError: ignored

In [11]:
primes.append(13)

AttributeError: ignored

In [12]:
x = 0.25
print(type(x))
print(x.as_integer_ratio())
print(type(x.as_integer_ratio()))

<class 'float'>
(1, 4)
<class 'tuple'>

In [13]:
def where_are_you_from(city, country):
    return city, country

print(where_are_you_from("Taipei", "Taiwan"))
print(type(where_are_you_from("Taipei", "Taiwan")))

('Taipei', 'Taiwan')
<class 'tuple'>

In [14]:
my_city, my_country = where_are_you_from("Taipei", "Taiwan")
print(my_city)
print(my_country)

Taipei
Taiwan

In [15]:
numerator, denominator = x.as_integer_ratio()
print(numerator)
print(denominator)

1
4

In [0]:
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}

In [17]:
print(type(the_avengers))

<class 'dict'>

In [18]:
print(the_avengers.keys())

dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])

In [19]:
print(the_avengers.values())

dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])

In [20]:
print(the_avengers.items())

dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [21]:
living_area = input("請輸入您的居住縣市:")
print(living_area)
print("臺北市的每人每月最低生活費為{:,}".format(17005))

請輸入您的居住縣市:臺北市
臺北市
臺北市的每人每月最低生活費為17,005

In [32]:
#紓困
living_area = input("請輸入您的居住縣市:")
living_cost = None
if living_area == "臺北市":
    living_cost = 17005
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == "新北市":
    living_cost = 15500
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == "桃園市":
    living_cost = 15281
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == "臺中市":
    living_cost = 14596
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == "臺南市":
    living_cost = 14388
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == "高雄市":
    living_cost = 13099
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == "非六都之縣市":
    living_cost = 12388
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == "金門縣連江縣":
    living_cost = 11648
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
    
if living_cost is None:
    print("請重新輸入居住縣市")
else:
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

請輸入您的居住縣市:新北市
新北市的每人每月最低生活費為15,500
新北市的每人每月最低生活費為15,500

In [33]:
living_cost_dict = {
    '臺北市': 17005,
    "新北市":15500,
    "桃園市":15281,
    "臺中市":14596,
    "臺南市":14388,
    "高雄市":13099,
    "非六都之縣市":12388,
    "金門縣連江縣":11648
    }
living_area = input("請輸入您的居住縣市:")
living_cost = living_cost_dict[living_area]
print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

請輸入您的居住縣市:新北市
新北市的每人每月最低生活費為15,500

In [0]:
#@title 查詢每人每月最低生活費
living_area = '\u91D1\u9580\u7E23\u9023\u6C5F\u7E23' #@param ['臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市', '非六都之縣市', '金門縣連江縣']
living_cost = living_cost_dict[living_area]
print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

In [34]:
primes = {2, 3, 5, 7, 11, 13}
print(primes)
print(type(primes))

{2, 3, 5, 7, 11, 13}
<class 'set'>

In [35]:
primes_list = [2, 3, 3, 3, 5, 5]
print(primes_list)

[2, 3, 3, 3, 5, 5]

In [36]:
set(primes_list)

{2, 3, 5}

In [37]:
primes = {2, 3, 5, 7, 11, 13, 13, 13, 11, 11, 11, 11, 2, 2, 2}
print(primes)

{2, 3, 5, 7, 11, 13}

In [38]:
primes = {2, 3, 5, 7, 11, 13}
odds = {1, 3, 5, 7, 9, 11, 13}
print(type(primes))
print(type(odds))

<class 'set'>
<class 'set'>

In [39]:
# 交集
primes & odds

{3, 5, 7, 11, 13}

In [40]:
# .intersection
primes.intersection(odds)

{3, 5, 7, 11, 13}

In [41]:
# 聯集
primes | odds

{1, 2, 3, 5, 7, 9, 11, 13}

In [42]:
# .union
primes.union(odds)

{1, 2, 3, 5, 7, 9, 11, 13}

In [43]:
# 差異
print(primes - odds)
print(odds - primes)

{2}
{1, 9}

In [44]:
# .difference
print(primes.difference(odds))
print(odds.difference(primes))

{2}
{1, 9}

In [45]:
(primes - odds) | (odds - primes)

{1, 2, 9}

In [46]:
# 對稱差異
primes ^ odds

{1, 2, 9}

In [47]:
# .symmetric_difference
print(primes.symmetric_difference(odds))

{1, 2, 9}

In [48]:
import requests

today_json = requests.get("https://data.nba.net/10s/prod/v1/today.json").json()
print(type(today_json))

<class 'dict'>

In [49]:
today_json.keys()

dict_keys(['_internal', 'teamSitesOnly', 'seasonScheduleYear', 'showPlayoffsClinch', 'links'])

In [50]:
print(type(today_json['links']))

<class 'dict'>

In [51]:
today_json['links']['leagueRosterPlayers']

'/prod/v1/2019/players.json'

In [52]:
primes_list = [2, 3, 5, 7, 11]
I = iter(primes_list)
next(I)

2

In [53]:
primes_tuple = (2, 3, 5, 7, 11)
I = iter(primes_tuple)
next(I)

2

In [54]:
I = iter(living_cost_dict.keys())
next(I)

'臺北市'

In [55]:
I = iter(living_cost_dict.values())
next(I)

17005

In [56]:
I = iter(living_cost_dict.items())
next(I)

('臺北市', 17005)

In [57]:
may4th = "Luke, use the Force!"
I = iter(may4th)
next(I)

'L'

In [58]:
for i in range(1, 101, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100